In [1]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [ ]:
# ASSIGNMENT QUESTIONS
# ===================

In [3]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
natural_numbers = (1,2,3,4,5,6,7,8,9,10)
print(natural_numbers)
type(natural_numbers)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

In [4]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(numbers)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [6]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
letters = ('a', 'b', 'c', 'd', 'e')
third_element = letters[2]
print(f"third element: {third_element}")

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
third element: c

In [7]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
values = (23, 45, 12, 67, 34, 89, 56)
maxm_value  = max(values)
print(f"maximum value is {maxm_value}")

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
maximum value is 89

In [8]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
numbers = (1, 5, 2, 5, 3, 5, 4, 5, 6)
numbers.count(5)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

4

In [10]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
tuple1 = (28, 5.3, "Gagana", True)
print(tuple1)
type(tuple)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(28, 5.3, 'Gagana', True)

type

In [11]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
languages = ('java', 'python', 'c++', 'javascript')
languages.index("python")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

1

In [12]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
numbers = (10, 20, 30, 40, 50)
print(25 in numbers)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
False

In [13]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
even = []
for i in range(1,6):
    even.append(i*2)
even_numbers = tuple(even)
print(even_numbers)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [15]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
numbers = (15, 23, 31, 42, 56, 78)
average = round(sum(numbers) / len(numbers),2)
print(average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.83