In [ ]:
# SET DATATYPE ASSIGNMENT
# ======================

# SOLVED EXAMPLE
# --------------
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

In [ ]:
# ASSIGNMENT QUESTIONS
# ===================

In [3]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
natural_numbers = set(range(1,11))
natural_numbers

Question 1: Create a set of first 10 natural numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
num = {1, 2, 3, 4, 5}
num.add(11)
print(num)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [5]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
set1 = {1, 2, 3, 4, 5, 6}
set1.remove(3)
set1

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [6]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
set_a & set_b

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{4, 5}

In [7]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
set_a.difference(set_b)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{1, 2, 3}

In [8]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
set1 = {1, 2, 3, 4, 6, 7, 8}
5 in set1

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

False

In [9]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
letters = {'a', 'b', 'c', 'd', 'e'}
len(letters)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

5

In [10]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
text = "hello world"
vowels = {char for char in text if char in "aeiou"}
print(vowels)

Question 8: Create a set of vowels from string 'hello world'
{'o', 'e'}

In [12]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
num = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_num = list(set(num))
unique_num

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

[1, 2, 3, 4, 5, 6, 7]

In [13]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5, 6}
set_a.issubset(set_b)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

True